@{
    ViewData["Title"] = "AboutUs";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    .jumbotron {
        background-color: #f4511e;
        color: #fff;
        padding: 100px 25px;
    }

    .container-fluid {
        padding: 60px 50px;
    }

    .bg-grey {
        background-color: #f6f6f6;
    }

    .logo {
        font-size: 200px;
        color: red;
    }

    body > header > nav {
        height: 60px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Resume Builder</h2>
            <h4>Welcome to our page.</h4>
            <p>We offer a wide range of professionally designed templates to suit various industries and career paths. Each template is carefully crafted to ensure a visually appealing and well-structured layout, while still providing flexibility for customization. You can easily personalize your resume by selecting the template that best represents your unique style and professional identity.</p>
            <button class="btn btn-default btn-lg">Get in Touch</button>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-signal logo"></span>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo" style="color: red;"></span>
        </div>
        <div class="col-sm-8">
            <h2>Our Values</h2>
            <h4><strong>MISSION:</strong>Our mission at Resume Builder is to empower individuals with the tools and resources they need to create compelling resumes that open doors to new opportunities. We believe that everyone deserves a chance to showcase their unique skills and experiences in a professional and impactful manner.</h4>
            <p><strong>VISION:</strong> Our vision at Resume Builder is to become the premier online destination for individuals seeking to create exceptional resumes that propel their careers forward. We envision a platform that not only simplifies the resume-building process but also offers a holistic suite of resources and tools to support our users at every step of their job search.</p>
        </div>
    </div>
</div>
