@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ResumeBuilder.Models.CvModel.ContactUs
@{
    ViewData["Title"] = "ContactUs!";
}

<partial name="_Notification" />

<div>

    <form asp-action="ContactUs" asp-controller="Home" asp-area="Customer" id="form">
        <h1 class="display-4 text-center m-5">Contact Us!</h1>

        <h4 class="m-4 mt-5">Feel Free To Contact Us.</h4>
        <div class="m-4">
            <div class="row">
                <div class="col-md form-group">
                    First Name:
                    <input asp-for="FirstName" class="form-control"/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

            </div>
            <div class="row">
                <div class="col-md form-group">
                    Last Name:
                    <input asp-for="LastName" class="form-control"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md form-group">
                    Email:
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    Message:
                    <textarea asp-for="Message" class="form-control" rows="5" placeholder="Explain in 5,6 lines what we can do to improve, or can do your help."></textarea>
                </div>
            </div>
        </div>

        <div class="text-center">
            <input type="submit" id="btnSave" class="btn btn-primary" style="color: white;" value="Submit"/>
        </div>
    </form>
</div>