<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<partial name="_Notification" />

<div class="row" style="margin-top:15px;">
    <div class="col-md-6">
        <p>
          <h4>  A resume builder is a valuable tool that helps
            individuals create professional resumes quickly
            and easily. It provides a user-friendly interface
            and a range of templates to choose from, allowing
            users to customize their resumes to suit their
            </h4>
            <h6>specific needs and industry standards.</h6>
        </p>
    </div>


    <div class="col-md-2"></div>

    <div class="col-md-4">
        <div class="thumbnail">
            <a class="dropdown-item " asp-area="Admin" asp-controller="ResumeTemplates" asp-action="Index">
                <img src="/images/admin/homeImages.png" alt="Lights" class="img-circle" style="width:100%">
                <div class="caption">
                </div>
            </a>
        </div>
    </div>
</div>

