@{
    ViewData["Title"] = "Contact Us";
}
<partial name="_Notification" />
<div class="container" p-3>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">User Feed Back through Contact Us</h2>
        </div>
        <br /><br />
    </div>
    <div class="overflow-auto">
        <table id="ContactUs" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th> First Name </th>
                    <th> Last Name </th>
                    <th> Email </th>
                    <th> Message</th>
                    <th> Detail</th>
                </tr>
            </thead>
        </table>
    </div>

</div>
@section Scripts{
    <script src="~/js/ContactUs.js"></script>
}